WcfFacturacion/WcfFacturacioClienteWindows/Service References/WcfFacturacion/ServicioFacturacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52418/ServicioFacturacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfFacturacion" />
  <xs:element name="GetProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfFacturacion" minOccurs="0" name="GetProductoResult" nillable="true" type="q1:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfFacturacion" minOccurs="0" name="GetProductosResult" nillable="true" type="q2:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfFacturacion" minOccurs="0" name="GetClientesResult" nillable="true" type="q3:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idProducto" type="xs:int" />
        <xs:element minOccurs="0" name="notas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="despachado" type="xs:boolean" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewPedidoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>