WcfFacturacion/WcfFacturacioClienteWindows/Service References/WcfFacturacion/ServicioFacturacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioFacturacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52418/ServicioFacturacion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52418/ServicioFacturacion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52418/ServicioFacturacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfFacturacion" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceFacturacion_GetProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducto" />
  </wsdl:message>
  <wsdl:message name="IServiceFacturacion_GetProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceFacturacion_GetProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductos" />
  </wsdl:message>
  <wsdl:message name="IServiceFacturacion_GetProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceFacturacion_GetClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientes" />
  </wsdl:message>
  <wsdl:message name="IServiceFacturacion_GetClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceFacturacion_NewPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:NewPedido" />
  </wsdl:message>
  <wsdl:message name="IServiceFacturacion_NewPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewPedidoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceFacturacion">
    <wsdl:operation name="GetProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceFacturacion/GetProducto" message="tns:IServiceFacturacion_GetProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceFacturacion/GetProductoResponse" message="tns:IServiceFacturacion_GetProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceFacturacion/GetProductos" message="tns:IServiceFacturacion_GetProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceFacturacion/GetProductosResponse" message="tns:IServiceFacturacion_GetProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceFacturacion/GetClientes" message="tns:IServiceFacturacion_GetClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceFacturacion/GetClientesResponse" message="tns:IServiceFacturacion_GetClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceFacturacion/NewPedido" message="tns:IServiceFacturacion_NewPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceFacturacion/NewPedidoResponse" message="tns:IServiceFacturacion_NewPedido_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceFacturacion" type="tns:IServiceFacturacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProducto">
      <soap:operation soapAction="http://tempuri.org/IServiceFacturacion/GetProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductos">
      <soap:operation soapAction="http://tempuri.org/IServiceFacturacion/GetProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <soap:operation soapAction="http://tempuri.org/IServiceFacturacion/GetClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewPedido">
      <soap:operation soapAction="http://tempuri.org/IServiceFacturacion/NewPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioFacturacion">
    <wsdl:port name="BasicHttpBinding_IServiceFacturacion" binding="tns:BasicHttpBinding_IServiceFacturacion">
      <soap:address location="http://localhost:52418/ServicioFacturacion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>